@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
@media screen and (max-width: 1440px){
html, body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('./images/bg-curve-desktop.svg');
    overflow-x: hidden;
}

.main {
    margin: 0px;
    padding: 0px;
}

nav {
    padding: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

li {
    float: left;
}

li a {
    display: block;
    color: hsl(243, 87%, 12%);
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

li a:hover {
    color: hsl(170, 45%, 43%);
}

.container {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
    margin-top: 80px;
}

.container1 {
    background: url("../images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
    padding: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.main container1 {
    padding: 0px;
}

.intro {
    width: 50%;
}

.imagebox {
    width: 50%;
    height: 100%;
}

.imagebox1 {
    width: 50%;
    margin-top: 100px;
    height: 80%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    font-size: 40px;
}

h2 {
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

p{
    color: hsl(238, 22%, 44%);
    color: hsl(224, 93%, 58%);
    color: hsl(170, 45%, 43%);
    color: hsl(240, 75%, 98%);
    color: hsl(0, 0%, 75%);
    color: hsl(243, 87%, 12%);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding-right: 50px;
}

.acess {
    font-size: 24px;
    text-align: left;
    color: hsl(0, 0%, 100%);
}

.more {
    margin-top: -10px;
    padding-right: 180px;
}

.signup p {
    color: hsl(240, 75%, 98%);
    font-size: 16px;
}

.signup h3 {
    font-size: 2rem;
    color: hsl(240, 75%, 98%);
}

.info {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

a {
    color: hsl(173, 31%, 5%);
    text-decoration: none;
}

.linked {
    position: relative;
    display: inline-block;
  }

.linked span {
    position: relative;
    z-index: 1;
}

.linked hr {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 170px;
    height: 2px;
    background-color: hsl(170, 45%, 43%);;
    border: none;
}

.box {
    margin-top: 10px;
    border-style: solid;
    border-width: 8px;
    border-color: hsl(240, 18%, 97%);
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 62%;
    margin-top: 30px;
    height: 180px;
    border-radius: 5px;
}

.reviewer {
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.review {
    font-size: 16px;
    font-weight: 400;
}

.position {
    font-size: 14px;
    margin-top: 0px;
    font-weight: 400;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 0px;
    float: left;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.name {
    font-size: 16px;
    font-weight: 700;
}

.signup {
    width: 50%;
}

.subscription-box {
    width: 40%;
}

.join {
    background-color: hsl(238, 22%, 44%);
    width: 100%;
    padding: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer {
    background-color: hsl(243, 87%, 12%);
    padding: 60px;
    display: flex;
    color: hsl(240, 75%, 98%);
    flex-direction: column;
}

.footmenu {
    width: 100%;
    padding-right: 10px;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

.subscribe {
    display: flex;
    flex-direction: row;
}

.subscribe input[type="email"] {
    width: 50%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid hsl(0, 0%, 75%);
    margin-right: 10px;
    font-size: 14px;
  }
  
.subscribe input[type="submit"] {
    padding: 10px 40px;
    background-color: hsl(224, 93%, 58%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
  }
  
.subscribe input[type="submit"]:hover {
    background-color: hsl(224, 82%, 67%);
  }

.subscribe-form {
    display: flex;
    flex-direction: column;
  }

.foot {
    color: hsl(0, 0%, 100%);
    font-size: 12px;
  }
  
.subscribe-form input[type="email"] {
    width: 70%;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 75%);
    margin-right: 10px;
    border-radius: 2px;
    font-size: 12px;
  }

#confirmationText {
    display: none;
    font-size: 16px;
    margin-top: 10px;
    color: hsl(0, 0%, 100%);
  }

#confirmationText1 {
    display: none;
    font-size: 16px;
    margin-top: 10px;
    color: hsl(243, 87%, 12%);
  }
  
.subscribe-form input[type="submit"] {
    padding: 10px 20px;
    width: 200px;
    background-color: hsl(224, 93%, 58%);
    color: hsl(0, 0%, 100%);
    border: none;
    margin-top: 10px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
  }
  
.subscribe-form input[type="submit"]:hover {
    background-color: hsl(224, 82%, 67%);
  }
  

.menu1 {
    width: 25%;
}

.menu1 ul {
    color: hsl(240, 75%, 98%);
}

.menu1 ul li {
    color: hsl(240, 75%, 98%);
    flex-direction: row;
    padding-bottom: 20px;
}

.image {
    padding-right: 10px;
}

.nav1 {
    width: 25%;
    flex-direction: column;
}

.nav1 ul {
    color: hsl(240, 75%, 98%);
    display: flex;
    flex-direction: column;
}

.nav1 ul li a{
    color: hsl(240, 75%, 98%);
    padding-bottom: 20px;
    text-align: left;
    text-transform: capitalize;
}

.nav1 ul li a:hover{
    color: hsl(224, 82%, 67%);
}

.nav2 {
    width: 25%;
    flex-direction: column;
}

.nav2 ul {
    color: hsl(240, 75%, 98%);
    display: flex;
    flex-direction: column;
}

.nav2 ul li a{
    color: hsl(240, 75%, 98%);
    padding-bottom: 20px;
    text-align: left;
    text-transform: capitalize;
}

.nav2 ul li a:hover{
    color: hsl(224, 82%, 67%);
}

.socials {
    width: 25%;
    float: right;
}
.socials img {
    float: right;
    padding-right: 10px;
}

.socials a img:hover {
    color: hsl(224, 82%, 67%);
}

}

@media screen and (max-width: 375px){

    html, body {
        font-family: 'Open Sans', sans-serif;
        background-image: url('./images/bg-curve-desktop.svg');
        overflow-x: hidden;
        margin: 0px;
    }
    
    nav {
        padding: 20px;
        display: flex;
        flex-direction: row;
    }

    .mainlogo {
        width: 30%;
        float: left;
    }
    
    ul {
        width: 70%;
        list-style-type: none;
        margin: 0;
        padding-left: 34px;
        overflow: hidden;
        float: right;
    }
    
    li a {
        text-align: right;
        display: block;
        color: hsl(243, 87%, 12%);
        padding: 0px 5px;
        text-decoration: none;
    }
    
    li a:hover {
        color: hsl(170, 45%, 43%);
    }
    
    .container {
        width: 375px;
        display: flex;
        padding: 20px;
        margin-top: 50px;
        flex-direction: column-reverse;
    }
    
    .container1 {
        background: url("../images/bg-curve-desktop.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 100%;
        padding: 20px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    
    .intro {
        width: 335px;
        align-items: center;
        justify-content: center;
    }

    .intro1 {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .imagebox {
        width: 90%;
        margin-top: 20px;
        height: 100%;
    }

    .imagebox1 {
        width: 90%;
        margin-top: 20px;
        height: 100%;
    }

    .info {
        padding: 50px 0px;
    }
    
    h1 {
        font-family: 'Open Sans', sans-serif;
        color: hsl(243, 87%, 12%);
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 18px;
    }
    
    p{
        color: hsl(243, 87%, 12%);
        font-size: 15px;
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        padding: 5px;
    }
    
    .more {
        padding-right: 0px;
        margin-right: 0px;
        font-size: 14px;
        text-align: center;
        color: hsl(240, 75%, 98%);
    }

    .signup {
        width: 100%;
    }
    
    .signup h3 {
        font-size: 18px;
        font-weight: bold;
        color: hsl(240, 75%, 98%);
        text-align: center;
    }
    
    a {
        color: hsl(170, 45%, 43%);
        text-decoration: none;
    }
    
    .linked {
        position: relative;
        display: inline-block;
        text-align: center;
      }
    
    .linked span {
        position: relative;
    }
    
    .linked hr {
        position: relative;
        bottom: 0px;
        left: 0;
        width: 170px;
        height: 2px;
        background-color: hsl(170, 45%, 43%);;
        border: none;
    }
    
    .box {
        border-style: solid;
        border-width: 8px;
        border-color: hsl(240, 18%, 97%);
        background-color: hsl(0, 0%, 100%);
        padding: 20px;
        width: 84%;
        margin-top: 30px;
        height: auto;
        border-radius: 5px;
    }

    .box p {
        font-size: 12px;
        padding: 0px;
    }
    
    .reviewer {
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    
    .review {
        font-size: 14px;
        font-weight: 400;
    }
    
    .position {
        font-size: 14px;
        font-weight: 400;
        margin-top: 0px;
    }
    
    .circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-top: 0px;
        float: left;
    }
    
    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 15px;
    }
    
    .name {
        font-size: 14px;
        font-weight: 700;
    }

    .acess {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: hsl(0, 0%, 100%);
    }
    
    .subscription-box {
        width: 100%;
        padding-bottom: 30px;
    }
    
    .join {
        background-color: hsl(238, 22%, 44%);
        width: 335px;
        display: flex;
        padding: 10px 20px;
        margin: 0px;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        background-color: hsl(243, 87%, 12%);
        padding: 50px 20px;
        display: flex;
        color: hsl(240, 75%, 98%);
        flex-direction: column;
        float: left;
    }
    
    .footmenu {
        width: 100%;
        padding-right: 0px;
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    
    .subscribe {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .subscribe input[type="email"] {
        width: 273px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 10px;
      }
      
    .subscribe input[type="submit"] {
        width: 295px;
        padding: 10px 40px;
        background-color: hsl(224, 93%, 58%);
        color: hsl(0, 0%, 100%);
        border: 1px solid hsl(224, 93%, 58%);
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
      }
      
    .subscribe input[type="submit"]:hover {
        background-color: hsl(224, 82%, 67%);
      }
    
    .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    .foot {
        color: hsl(0, 0%, 100%);
        font-size: 12px;
      }
      
    .subscribe-form input[type="email"] {
        width: 240px;
        padding: 10px;
        border: 1px solid #ccc;
        margin-right: 0px;
        border-radius: 2px;
        font-size: 14px;
      }
    
    #confirmationText {
        display: none;
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
        color: hsl(0, 0%, 100%);
      }
    
    #confirmationText1 {
        display: none;
        font-size: 16px;
        margin-top: 10px;
        text-align: center;
        color: hsl(243, 87%, 12%);
      }
      
    .subscribe-form input[type="submit"] {
        padding: 10px 20px;
        width: 260px;
        background-color: hsl(224, 93%, 58%);
        color: hsl(0, 0%, 100%);
        border: none;
        margin-top: 10px;
        border-radius: 2px;
        font-size: 16px;
        cursor: pointer;
      }
      
    .subscribe-form input[type="submit"]:hover {
        background-color: hsl(224, 82%, 67%);
      }
      
    
    .menu1 {
        width: 100%;
        padding-left: 2px;
        margin-top: 20px;
    }
    
    .menu1 ul {
        color: hsl(240, 75%, 98%);
        float: left;
    }
    
    .menu1 ul li {
        color: hsl(240, 75%, 98%);
        flex-direction: row;
        padding-bottom: 20px;
    }
    
    .image {
        padding-right: 20px;
    }
    
    .nav1 {
        width: 100%;
        flex-direction: column;
        display: flex;
        margin-top: 30px;
    }
    
    .nav1 ul {
        color: hsl(240, 75%, 98%);
    }
    
    .nav1 ul li a{
        color: hsl(240, 75%, 98%);
        padding-bottom: 20px;
        text-align: left;
        text-transform: capitalize;
    }

    .nav1 ul li a:hover{
        color: hsl(224, 82%, 67%);
    }
    
    .nav2 {
        width: 100%;
        flex-direction: column;
        display: flex;
        margin-top: 30px;
    }
    
    .nav2 ul {
        color: hsl(240, 75%, 98%);
    }
    
    .nav2 ul li a{
        color: hsl(240, 75%, 98%);
        padding-bottom: 20px;
        text-align: left;
        text-transform: capitalize;
    }

    .nav2 ul li a:hover{
        color: hsl(224, 82%, 67%);
    }
    
    .socials {
        width: 70%;
        justify-self: center;
    }
    .socials img {
        justify-content: space-between;
    }

    .logo {
        padding-left: 32px;
    }
}
